header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    div{
        height: 60px;
        justify-content: space-between;
        align-items: center;
        img{
            height: 50px;
        }
        ul{
            height: 100%;
            margin-top: 15px;
            li {
                font-size: 0.8rem;
                font-weight: bold;
                padding: 0 15px;
                display: flex;
                align-items: center;
            }
            li:hover{
                background-color: lightgray;
                cursor: pointer;
            }
        }
    }
}